@import "variables";

.footer{
    background-image: $gradiente-uno;
    border-bottom: 5px black solid;
    .footer__redes__ul{
        .footer__redes__ul_boton{
            list-style-type: none;
            font-size: 16px;
            font-size: bold;
            color: white;
            transition: all 1s;
                a{
                    list-style-type: none;
                    font-size: 16px;
                    font-size: bold;
                    color: white;
                    transition: all 1s;
                    &:hover{
                        text-shadow: 1px 10px 10px rgba(201, 197, 197, 0.671);
                }
            }
        }
    }
    .footer__contacto{
        color: white;
        font-weight: bold;
        li{
            text-align: justify;
        }
    }
    .footer__derechos{
        text-align: center;
        color: white;
        font-weight: bold;
    }
}
