$sizeParaTitulo: 20px;
$color-titulos: rgba(21, 21, 21, 0.72);
$bordesSecciones: 5px white solid;
$gradiente-uno: linear-gradient(to right, black, grey); 

@mixin crearBordes {
    border: 10px solid black;
    box-shadow: 0px 0px 5px white;
    border-radius: 100%;
}

@mixin tituloPrincipal {
    font-size: 36px;
    text-shadow: 0px 5px 10px black;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-justify: auto;
    color: rgb(82, 82, 82);
    margin-top: 20px;
    margin-bottom: 20px;
}

$estilos: (
    color:rgb(240, 240, 240),
    color2:rgba(82, 82, 82, 0.8),
    sizefuente: 20px,
    justificado: center,
);
